header.masthead {
  max-height: 100vh;
}

.stack-icon {
	 max-height: 11vh; 
	 width: auto;
	 max-width: 100%;
	 text-align: center;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: inline-block;
  color: white;
  background-color: #2E2E2E;
  opacity: .8;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #efefef;
  color: #000F08;
}

.social-buttons li {
  pointer-events: auto !important;
}

.social-row {
  position: fixed; 
  z-index: 2; 
  top: 90vh;
  pointer-events: none;
  width: 100%;
  left: 50%;
  margin-left: -50%;
}

@media (min-width: 500px) {
  ul.social-buttons li a {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
  }

}

@media (min-width: 800px) {
  .social-row {
    right: 0px;
    margin-right: -80px;
    margin-bottom: 2rem;
    top: 68vh;
    padding: 0px;
    display: block;
    width: 0%;
	left: 0%;
	margin-left: 90%;
  }
  ul.social-buttons li a {
  	margin-bottom: 6px;
  }
  header.masthead {
  	height: 56vh;
  }
}

@media (max-width: 500px) {
	h1 {
		font-size: 200%;
	}
}
